# build
build/
bin/
obj/

# C/C++
*.o
*.so
*.a
*.out
*.exe

# cmake
CMakeFiles/
CMakeCache.txt

# logs
*.log

# docker
*.tar

# editor
.vscode/
.idea/

# mac
.DS_Store

# python
__pycache__/

# temporary
*.tmp

*.dll
*.pyc